@charset "utf-8";

*{-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;}

body{margin: 0; padding: 0;}
section, header, nav, footer{margin: 0; padding: 0;}
header:after, section:after, nav:after, article:after, aside:after, footer:after{content:""; clear:both; display:block;}
ul, ol{margin: 0; padding: 0; list-style:none;}
p{margin: 0; padding: 0;}
a{text-decoration:none;}
.clear{clear:both;}
span{font-family: '12LotteMartDreamBold'; font-size:210px; line-height:1; }
.subtitle, p{font-family: '12LotteMartDreamMedium'; font-size:37px;}
.detail{font-family: '12LotteMartDreamMedium'; font-size:29px;}
.fontnest{font-family: 'Nikolas & Pine';}
.fontfantasy{font-family: 'Wakeup';}

@font-face {
    font-family: 'Helvetica-CondensedBold';
    src: url('../fonts/HelveticaCondensedBold.eot');
    src: url('../fonts/HelveticaCondensedBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaCondensedBold.woff2') format('woff2'),
        url('../fonts/HelveticaCondensedBold.woff') format('woff'),
        url('../fonts/HelveticaCondensedBold.ttf') format('truetype'),
        url('../fonts/HelveticaCondensedBold.svg#HelveticaCondensedBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: '12LotteMartDreamBold';
    src: url('../fonts/12LotteMartDreamBold.eot');
    src: url('../fonts/12LotteMartDreamBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/12LotteMartDreamBold.woff2') format('woff2'),
        url('../fonts/12LotteMartDreamBold.woff') format('woff'),
        url('../fonts/12LotteMartDreamBold.ttf') format('truetype'),
        url('../fonts/12LotteMartDreamBold.svg#12LotteMartDreamBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: '12LotteMartDreamMedium';
    src: url('../fonts/12LotteMartDreamMedium.eot');
    src: url('../fonts/12LotteMartDreamMedium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/12LotteMartDreamMedium.woff2') format('woff2'),
        url('../fonts/12LotteMartDreamMedium.woff') format('woff'),
        url('../fonts/12LotteMartDreamMedium.ttf') format('truetype'),
        url('../fonts/12LotteMartDreamMedium.svg#12LotteMartDreamMedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: '12LotteMartDreamLight';
    src: url('../fonts/12LotteMartDreamLight.eot');
    src: url('../fonts/12LotteMartDreamLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/12LotteMartDreamLight.woff2') format('woff2'),
        url('../fonts/12LotteMartDreamLight.woff') format('woff'),
        url('../fonts/12LotteMartDreamLight.ttf') format('truetype'),
        url('../fonts/12LotteMartDreamLight.svg#12LotteMartDreamLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Nikolas & Pine';
    src: url('../fonts/NikolasPine.eot');
    src: url('../fonts/NikolasPine.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NikolasPine.woff2') format('woff2'),
        url('../fonts/NikolasPine.woff') format('woff'),
        url('../fonts/NikolasPine.ttf') format('truetype'),
        url('../fonts/NikolasPine.svg#Nikolas&Pine') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Wakeup';
    src: url('../fonts/WakeupRegular.eot');
    src: url('../fonts/WakeupRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/WakeupRegular.woff2') format('woff2'),
        url('../fonts/WakeupRegular.woff') format('woff'),
        url('../fonts/WakeupRegular.ttf') format('truetype'),
        url('../fonts/WakeupRegular.svg#WakeupRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}



.intro{position: fixed; background:black; width: 100vw; height: 100vh; overflow:hidden; transition:width 0.3s; z-index:99;}
.black_panel{width: 100%; height: 100%; background:white;}
.intro.intro_left{width: 30vw; background:black;}
.bla_circle{width: 2600px; height: 2600px; border-radius:1300px; background:white; position: absolute; top: calc(50% - 1300px); left:calc(50% - 1301px); transform:scale(1);}
.bla_circle.circle_scale{ transform: scale(0.2); background:black; transition: transform 0.5s, background 0.2s 0.8s; }
.text{position: absolute; transform:translate(-50%, -50%); top:50%; left:50%; width:100%; text-align: center; z-index:10; transition:left 0.5s; cursor: pointer;}

.text.text_left{/*left:calc(50% - 123px); */}
.text_left>span{color:white; transition: color 0.2s 0.8s; }
.clicktoenter{position: absolute; transform:translate(0, -50%); top:65%; text-align:center; width: 100%; z-index: 99; cursor: pointer;}

/* 왼쪽으로 갓을때 j 가 움직임 !!???*/
.j{width: 123px; height: 161px; background:url("../img/j_bk.png") no-repeat 50% 0%; background-size:auto 95%; display:inline-block;}
.text.text_left>.j{ background:url("../img/j_wh.png") no-repeat 50% 0%; background-size:auto 95%; transition:background 0.2s 0.8s;}


.intro>.resume_btn{opacity:0; font-family: '12LotteMartDreamMedium'; position:absolute; top:65vh; text-align:center; font-size:40px; width: 100%; color:white ! important; cursor: pointer; }
.intro>.resume_btn.show_resume{opacity:1; transition: opacity 0.5s; }




/*resume*/
.resume{width: 70vw; min-height:100vh; padding:0 100px; position: absolute; background:#444; right:-70vw; color:white;}
.resume.move_resume{right:0; z-index:1; }
.resume .close_btn{position: absolute; top:50px; right:50px; font-size:30px; cursor: pointer;}

.menu{width: 100%; margin-top:10%;}
.menu>li{display:inline-block; vertical-align:top; margin-right:13%; cursor: pointer;}
.menu>li:last-child{margin-right:0;}
.menu>li>a{font-size:46px; padding-bottom:8px;  border-bottom: 5px solid transparent; font-family: '12LotteMartDreamBold';}

.resume_cont{text-align:center;}
.resume_cont>.table{width: 100%; height: calc(100vh - 250px); display:table;}
.resume_cont>.table>.tablecell{display:table-cell; vertical-align:middle;}
.resume_cont>.table>.tablecell>p:first-child{font-size:46px; line-height:1.5;  font-family: '12LotteMartDreamBold';}
.resume_cont>.skill{width: 100%; height: auto; margin-bottom:100px;}

.icon_frame{margin:100px 0 50px; width: 100%; }
.icon_frame>p{font-size:29px; line-height:1.3;}
.icon_frame>.icon{margin-bottom:50px;}
.icon_frame>.icon>div{width: 60px; height: 50px; margin:0 10px;  display:inline-block; background-size:contain; background-repeat: no-repeat; background-position:50% 50%;}
.ps{background-image:url("../img/ps.png");}
.ai{background-image:url("../img/ai.png");}
.id{background-image:url("../img/id.png");}
.ae{background-image:url("../img/ae.png");}
.rhino{background-image:url("../img/rhino.png");}
.cad{background-image:url("../img/cad.png");}
.sw{background-image:url("../img/sw.png");}
.as{background-image:url("../img/as.svg");}
.key{background-image:url("../img/key.png");}

.skill>li{margin:50px 0; font-size:29px;}
.skill>li>a{border-bottom:3px solid transparent; cursor: pointer; font-size:37px; font-family: '12LotteMartDreamMedium'; padding:0 37px 10px 0; background:url("../img/arrow.png") no-repeat 100% 30%; background-size:auto 45%; }

.skill>li>a.skill_active{padding:0 0 10px 0; background:none; border-bottom:3px solid #fff;}

.skill>li>div{display:none; margin:50px 0; }
.skill>li>div>p{font-size:29px; line-height:1.3; border-bottom:none;}





.ex{width: 100%; height: auto; margin-top:100px; text-align:left; }

.ex_title{width: 100%; line-height:1.3;}
.ex_title>li{margin:70px 0;}
.ex_title>li:nth-child(1){margin:0 0 70px 0;}
.ex_title>li>a{border-bottom:3px solid transparent; cursor: pointer; font-size:37px; font-family: '12LotteMartDreamMedium'; padding:0 37px 10px 0; background:url("../img/arrow.png") no-repeat 100% 30%; background-size:auto 45%;}

.ex_title>li>a.ex_sel{ border-bottom:3px solid #fff;}
.ex_title.ex_active{width: 20%; float:left;}
.ex_detail{display:none; width: 80%; float:left; padding-bottom:100px;}
.ex_detail>p{font-size:25px; line-height:1.3;}
.ex_detail>p.ex_lgtxt{font-size:37px;}

.ex_detail>p.ex_mdtxt{padding:10px 0;}
.ex_detail>p.padding-bottom{padding-bottom:20px;}
.ex_detail>p.padding-left{padding-left:20px;}

.ex>li{line-height:2.5;}
.ex>li>p{border-bottom:4px solid transparent; cursor: pointer; display:inline-block;}


.contents{width: 70%; position: absolute; right:0; top:0;}
.box{width: 33.33%; height: 400px; background:green; float:left; overflow:hidden;}
.box>.img{background-size:cover; background-repeat: no-repeat; background-position:50% 50%; overflow:hidden; width: 100%; height: 100%; position:relative;}
.box>.img>.dark{width: 100%; height: 100%;background:black; opacity:0.5; transition:opacity 0.5s;}
/*.box:hover>.img>.dark{opacity:0;}*/
.box>.img>p{position: absolute; transform:translate(-50%, -50%); top:50%; left:50%; font-size:100px; color:white; opacity:0; transition:opacity 0.5s;}
.box:hover>.img>p{opacity:1;}

.fantasy>.img{background-image:url("../img/fantasy.jpg");}
.fantasy>.img>p{transform:rotate(-45deg); transform-origin:-7% 131%;}
.fantasy:hover>.img>p{font-size:200px; transition:font-size 0.5s;}

.of>.img{background-image:url("../img/of.jpg");}
.of>.img>p{font-size:100px;}
.of:hover>.img>p{transform:translate(-50%, -50%) rotate(360deg); transition:transform 0.5s;}

.fulton>.img{background-image:url("../img/fulton.jpg");}
.fulton>.img>p{font-family: 'Helvetica-CondensedBold'; font-size:150px;}


.audi>.img{background-image:url("../img/audi.jpg");}
.audi>.img>p{font-family: 'Helvetica-CondensedBold'; font-size:150px;}

.rendering>.img{background-image:url("../img/rendering.jpg");}
.rendering>.img>p{font-family: 'Helvetica-CondensedBold';}


.onyx{position:relative;}
.onyx>.img{position: absolute; top: 0; left: 0;}
.onyx>video{width: 100%;}


.infinity>.img{background-image:url("../img/infinity.jpg");}

.lambo>.img{background-image:url("../img/lambo.jpg");}

.nest>.img{background-image:url("../img/nest.jpg");}
.nest>.img>p.fontnest{color:orange; font-size:150px;}


.honey>.img{background-image:url("../img/honey.jpg");}
.honey:hover>.img{transform:scale(2);   transform-origin: 0% 0%; transition:transform 0.3s;}
.honey:hover>.img>.dark{opacity:0;}


@media(max-width: 1600px) {
    p{font-size: 29px;}
    .clicktoenter{font-size: 35px;}
    .intro>.text>span {font-size: 180px;}
    .j{width: 92px; height: 137px;}
    .text{/*left:calc(50% - 584px); top:calc(50% - 90px);*/}
    .text.text_left{/*left:calc(50% - 99px);*/}
    .intro>.resume_btn{font-size: 30px; top:63vh;}
    .fantasy:hover>.img>p{font-size:170px;}
    .box>.img>p{font-size:70px;}
    .fulton>.img>p, .audi>.img>p{font-size:120px;}
    .menu>li>a, .skill>li>a, .ex_title>li>a, .ex_detail>p.ex_lgtxt{font-size: 35px;}
    .resume_cont>.table>.tablecell>p:first-child{font-size: 35px;}
    .icon_frame>.icon>div{width: 40px; height: 35px;}
    .icon_frame>p, .skill>li>div>p{font-size: 25px;}


  }





